@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}    

.introducao{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 10rem 0rem 20rem;
    font-size: 2.5rem;
}

#img_introducao{

    border-radius: 50%;
    
}

#texto_introducao{
    text-align:justify;
    padding: 14rem;
    font-family:'Roboto', sans-serif;
    justify-content: center;
    
}

section h3{
    text-align: center;
    font-size: 4rem;
    margin-top: 4rem;
    color: #516E9C;
    font-family:'Roboto', sans-serif;
}

.container {
    display: flex;
    gap: 5rem;
    margin: 10rem 20rem 20rem 20rem;
    text-align: justify;

}

.container h4{
    font-size: 2rem;
    margin-top:1rem;

}

.container p{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.coluna {
    flex: 1;
    /* border: 1px solid #ccc; */
    padding: 10px;
    margin: 5px;
    text-align:center;
}

.coluna img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 50%;
}

#img_introducao img{
    border-radius:0.8rem;
}