
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section{
    margin:3rem 15rem 5rem 15rem;
   
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10rem;
    width: 100%;
    

}

.imagem-ajustada {
    width: 100%; /* Garante que a imagem ocupa 100% da largura do contêiner pai */
    height: 80%; /* Garante que a imagem ocupa 100% da altura do contêiner pai */
    object-fit:cover /* Ajusta o tamanho da imagem para cobrir completamente a caixa */
  
}
.coluna1 img {
   /*  width: 400px;
    height: 267px; */
    /* margin: 4rem 10rem 2rem 48rem; */
    border-radius: 3%;
    

}
    


p {
    align-items: center;
    /* margin: 5rem 20rem 5rem 20rem; */
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: 1px;
    
}

h3 {
    font-size: 3.5rem ;
    text-align: center;
    margin-top: 4rem;
    color: #516E9C;
    font-family:'Roboto', sans-serif;
}

h4 {
    font-size: 2.5rem ;
    text-align: center;
    margin-top: 4rem;
    color: #b78ebd;
    font-family:'Roboto', sans-serif;

}



.coluna2 img {
   /*  width: 400px;
    height: 267px; */
    /* margin: 4rem 10rem 2rem 48rem; */
    border-radius: 3%;
    

}



.coluna3 img {
/*     width: 400px;
    height: 270px; */
    /* margin: 4rem 10rem 2rem 48rem; */
    border-radius: 3%;
    
} 
